body {
    background-color: #5f0505;
    color: white;
    font-family: "Overpass", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #da0588;
    color: white;
    font-family: "Overpass", sans-serif;
}