body {
    background-color: #2b1edd;
    color: white;
    font-family: "Overpass", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #08bebe;
    color: white;
    font-family: "Overpass", sans-serif;
}